<% /* SCENES SINGLE PAGE */ %>
<% include includes/header %>

<form id="camera-ping" method="get" action="/cameras/ping">
<input type="submit" value="Ping Cameras">
</form>

<form id="camera-select" method="get" action="/cameras/select">
<% for (var i=0;i<cameras.length;i++){%>
	<option value=<%= cameras[i].camera_id %> <% if(cameras[i].camera_id==currentCamera){ %><%= "selected" %><%}%> >
	<%= cameras[i].camera_id %>
<%}%>
</select>
<input type="submit" value="Change Camera">
</form>

<button id="poll-camera">Poll Camera</button>

<% for (var i=0;i<settings.length;i++){%>
<form id= "camera-settings" method="post" action="/set">
<strong><%= settings[i].name%></strong>
<% if(settings[i].options){%>
<select name=<%=settings[i].call%>>
<% for (var j=0;j<settings[i].options.length;j++){%>
  <option value=<%=j%>
  <%if (j==settings[i].value)
  {%>
  <%="selected"%>
  <%}%>>
  <%=settings[i].options[j].name%></option>
<%}}%>
</select>
<% if(i<5||i>8){%>
<input type="submit" value="Update">
<%} 
else{%>
<strong><%= settings[i].value%></strong>
<% }%>
</form>
<%}%>
<% include includes/footer %>
