<% /* SCENES SINGLE PAGE */ %>
<% include includes/header %>

<canvas id="image-editor" width="960" height="640"></canvas>

<form id="select-edit-method">
<input type="radio" id="psr" value="psr" checked>Position, Scale, Rotate</input>
<input type="radio" id="quad" value="quad">Quad</input>
</form>

<form id="camera-select" method="get" action="/set-camera">
<strong>Select Camera:</strong>
<select name="camera_id">
<% for (var i=0;i<cameras.length;i++){%>
	<option value=<%= cameras[i].camera_id %> <% if(cameras[i].camera_id==currentCamera){%><%= "selected" %><%}%> >
	<%= cameras[i].camera_id %>
<%}%>
</select>
<input type="submit" value="Change Camera">
</form>


<form id="save-image" method="post" action="/save-image">
<input type="hidden" name="0X" id="0X" value="">
<input type="hidden" name="0Y" id="0Y" value="">
<input type="hidden" name="1X" id="1X" value="">
<input type="hidden" name="1Y" id="1Y" value="">
<input type="hidden" name="2X" id="2X" value="">
<input type="hidden" name="2Y" id="2Y" value="">
<input type="hidden" name="3X" id="3X" value="">
<input type="hidden" name="3Y" id="3Y" value="">
<input type="submit" value="Save Settings">
</form>

<script src='/js/vendor/jquery-2.0.3.min.js'></script>

<script src="/js/images.js"></script>

<script>
	
	var currentCam
	
	<% for (var i=0;i<cameras.length;i++){%>
	<% if(cameras[i].camera_id==currentCamera){%>
	
	currentCam=<%=i%>

	<%}}%>

	var warp=<%- JSON.stringify(cameras) %>
	loadPoints(warp,currentCam)
</script>


<% include includes/footer %>
